html, body {
    padding: 0;
    margin: 0;
    font-family:  Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%; 
}
.billboard {
    height: 100vh;
    background-color: #1E2229;
    color: #ffffff;
    background-image: url(New\ Background.jpg);
    background-size: cover;
    background-position-y: center;
}

.billboard:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
}

.billboard_wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    margin: auto;
}

.billboard_title {
    margin-top: 0px;
    font-size: 35px;
    margin-bottom: 30px;
    line-height: 1;
}

.billboard_wrapper_left {
    width: 500px;
    display:inline-block;
    vertical-align: middle;
}

.billboard_wrapper_right {
    width: 500px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 30px;
    text-align: right;
}

.self-imposed-misery {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.self-imposed-misery img {
    position: relative;
    top: -50px;
    filter: saturate(0.75);
}

.billboard_button.primary {
    background-color: #0879E4;
    text-decoration-line: none;
}

.billboard_button {
    border: none;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.billboard_button.secondary {
    background-color:#252933;
    text-decoration-line: none;
}

.billboard_text {
    color: #8A94A7;
    font-size: 19px;
    margin-bottom: 30px;
    margin-top: 0;
}

.billboard_button.primary:hover {
    background-color: rgb(6, 74, 138);
}

.billboard_button.billboard_button.secondary:hover {
    background-color: rgb(10, 10, 10);
}

.circle {
    height: 100vh;
    background-color:#020A15;
    color: #ffffff;
    margin-top: 0px;
}

.circle_left {
    width: 330px;
    margin-left: 216px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.circle_centre {
    width: 330px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.circle_right {
    width: 330px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.circle_left_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.circle_centre_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.circle_right_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.circle_left_title {
    text-align: center;
}

.circle_centre_title {
    text-align: center;
}

.circle_right_title {
    text-align: center;
}

.cross {
    height: 100vh;
    background-color:#020A15;
    color: #ffffff;
    margin-top: 0px;
}

.cross_centre_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.cross_left {
    width: 330px;
    margin-left: 127px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.cross_centre {
    width: 500px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.cross_right {
    width: 330px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.cross_centre_title {
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.footer_container {
    display: flex;
}

.footer {
    background-color: #020A15;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer_links {
   margin: 0; 
   width: 50%;
   display: flex;
}

.footer_links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}


.social_links {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}


.social_links li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.copyright_statement {
   padding: 15px;
   color: #8A94A7;
}

