html, body {
    padding: 0;
    margin: 0;
    font-family:  Helvetica, Arial, sans-serif;
}

body {
    background:#020A15;
    color: #ffffff;
}
img {
    max-width: 100%; 
}
.billboard {
    height: 100vh;
    
    background-image: url(background4.png);
    background-size: 100% 100%;
    background-position-y: center;
}

.billboard_wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    margin: auto;
}

.billboard_title {
    margin-top: 0px;
    font-size: 35px;
    margin-bottom: 30px;
    line-height: 1;
}

.billboard_wrapper_left {
    width: 500px;
    display:inline-block;
    vertical-align: middle;
}

.billboard_wrapper_right {
    width: 500px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 30px;
    text-align: right;
}

.self-imposed-misery {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.self-imposed-misery img {
    position: relative;
    top: -50px;
    filter: brightness(80%);
}


.billboard_button.primary {
    background-color: #0879E4;
    text-decoration-line: none;
}

.billboard_button {
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

.billboard_button:hover .mail:before {
    background: white;
}

.billboard_button:hover .linkedin2 svg {
    fill: #0077B5;
}

.billboard_button .linkedin2 {
    border-radius: 30%;
    height: 19px;
}

.billboard_button:hover .linkedin2 {
    background: white;
}

.billboard_button.secondary {
    background-color:#252933;
    text-decoration-line: none;
}

.billboard_text {
    color: #8A94A7;
    font-size: 19px;
    margin-bottom: 30px;
    margin-top: 0;
}

.billboard_button.primary:hover {
    background-color: rgb(6, 74, 138);
}

.billboard_button.billboard_button.secondary:hover {
    background-color: rgb(10, 10, 10);
}

.billboard_button svg {
    position: relative;
}

.icon_wrapper {
    position:relative;
    margin-left: 15px;
    display: inline-block;
    top: 3px;
    width: 20px;
    height: 20px;
}

.icon_wrapper.mail:hover:before {
    width: 40%;
    border-radius: 0;
}

.circle {
    height: 100vh;
    background-color:#020A15;
    color: #ffffff;
    margin-top: 0px;
}

.circle_master {
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.circle_item {
    display: inline-block;
    margin-top: 24px;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
}


.circle_left_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.circle_centre_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.circle_right_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.circle_left_title {
    text-align: center;
}

.circle_centre_title {
    text-align: center;
}

.circle_right_title {
    text-align: center;
}

.cross {
    height: 100vh;
    background-color:#020A15;
    color: #ffffff;
    margin-top: 0px;
}

.cross_centre_text {
    color: #8A94A7;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}

.cross_left {
    width: 330px;
    margin-left: 127px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.cross_centre {
    width: 500px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.cross_right {
    width: 330px;
    display: inline-block;
    margin-top: 24px;
    height: 100%
}

.cross_centre_title {
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.footer_container {
    display: flex;
}

.footer {
    background-color: #020A15;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer_links {
   margin: 0; 
   width: 50%;
   display: flex;
}

.footer_links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}


.social_links {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}


.social_links li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.copyright_statement {
   padding: 15px;
   color: #8A94A7;
}

.social_links a {
    display: block;
    height: 40px;
    width: 40px;
}

.social_links svg {
    position: relative;
}

.fb:hover {
    background: white;
    border-radius: 50%;
}

.linkedin:hover {
    background: white;
    border-radius: 5px;
}

.mail:hover:before {
    background: white;
    
}

.mail:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 53%;
    width: 38%;
    z-index: 0;
    right: 0;
}

.mail {
    position: relative;

}

.explanation {
    height: 100vh;
    width: 55%;
    margin: auto;
    
}

.information {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: justify;
}

.information li {
    padding-bottom: 30px;
    line-height: 1.2;
}

.back_button {
    background-color:#252933;
    text-decoration-line: none;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.back_button:hover {
   background-color: #0879E4;
   
}

.pain_in_my_arse {
    text-align: center;
    margin-top: 50px;
}

.back_button2 {
    position:relative;
    margin-left: 15px;
    display: inline-block;
    top: 3px;
    width: 20px;
    height: 20px;
}

.back_button:hover svg {
    
    background-color: white;
    fill: black;
}